
-@bests = @bests|| bests
- @bests.each do |best|
  .panel.panel-success
    .panel-heading
      %strong.pull-left
        = image_tag avatar_url(best.user)
        = best.user.full_name
      %small
        %em.pull-right.text-danger Today at 5:03PM
      .clearfix
    .panel-body
      %p= best.description
    .panel-footer
      %ul.nav-justified
        %li=link_to fa_icon('thumbs-o-up', text: 'Like'), '#'
        %li= social_share_button_tag('hello', url: 'http://www.google.com')
