- 10.times.each do |haha|
  .panel.panel-success
    .panel-heading
      %strong.pull-left
        = image_tag avatar_url(current_user)
        Arun Malik
      %small
        %em.pull-right.text-danger Today at 5:03PM
      .clearfix
    .panel-body
      %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    .panel-footer
      %ul.nav-justified
        %li=link_to fa_icon('thumbs-o-up', text: 'Like'), '#'
        %li=link_to fa_icon('comments', text: 'Comments'), '#'
        %li=raw "Share this best#{social_share_button_tag('hello', url: 'http://www.google.com')}"
