%h4.text-primary
  = link_to image_tag(avatar_url(current_user, 48)), 'http://en.gravatar.com/emails/', target: 'blank'
  = current_user.full_name

%ul.nav.nav-sidebar
  %li=link_to fa_icon('list', text: 'Latest'), root_path
  %li=link_to fa_icon('smile-o', text: 'Bests'), bests_path
  %li=link_to fa_icon('frown-o', text: 'Duds'), duds_path
  %li=link_to fa_icon('comments', text: 'Forum'), topics_path
  %li=link_to fa_icon('globe', text: 'Explore World'), root_path